@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background: linear-gradient(292.66deg, #00D2FF 0.3%, #3A7BD5 100%);
    }
    body::-webkit-scrollbar{
        background-color: transparent;
        width: 4px;
    }
}